[alias]
	a = add
	f = fetch
	d = diff
	r = remote -v              # show all remote repos with name (verbose)
	st = status
	co = checkout

	# Branch #
	b = branch
	ba = branch --all

	# Commit #
	c = commit -m              # commit with message
	ca = commit -am            # commit all with message

	# Log #
	l = log
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

	# Push #
	p = push
	po = push origin

	# Merge #
	m = merge
	mom = merge origin/master  # merges origin/master into local branch

	# Reset #

[core]
	excludesFile = ~/.gitignore_global

## Local/private config goes in the `include` (user name, email, etc.) ##
[include]
	path = ~/.gitconfig_local

[pull]
	ff = only # fast-forward only
[init]
	defaultBranch = main
