[alias]
	a = add
	p = push
	f = fetch
	b = branch

	# Commit
	c = commit -m              # commit with message
	ca = commit -am            # commit all with message

	# Remote
	r = remote -v              # show all remote repos with name
	d = diff
	# Log
	l = log
	
	st = status
	co = checkout
	po = push origin

	# Merge
	m = merge
	mom = merge origin/master  # merges origin/master into local branch

[core]
	excludesFile = ~/.gitignore_global

## Local/private config goes in the `include` (user name, email, etc.) ##
[include]
	path = ~/.gitconfig_local

