[alias]
	a = add
	f = fetch
	b = branch
	d = diff
	r = remote -v              # show all remote repos with name
	st = status
	co = checkout

	# Commit #
	c = commit -m              # commit with message
	ca = commit -am            # commit all with message

	# Log #
	l = log

	# Push #
	p = push
	po = push origin

	# Merge #
	m = merge
	mom = merge origin/master  # merges origin/master into local branch

[core]
	excludesFile = ~/.gitignore_global

## Local/private config goes in the `include` (user name, email, etc.) ##
[include]
	path = ~/.gitconfig_local

